.aw-support .messageedit dl.sel {
	background-color: #F8EEC0;
}
.aw-support .messageedit dl {
	border-bottom: 1px solid #F8EEC0;
}

.aw-support .messageedit input.btn { 
	padding: 0 6px;
	margin-right: 7px;
}

.aw-support .messageedit dl.pimg ul.m li {
	float: left;
}
.aw-support .messageedit a.abtn {
	text-decoration: none;
	color: #006699;
	font-size: 1.2em;
    border-bottom: 1px dotted;
    margin-right: 1em;
}
.aw-support .messageedit a.addtab {
	color: #73A110;
	font-weight: bold;
}
.aw-support .messageedit .dfiles ul.file {
	/* float: left; /**/
}
.aw-support .messageedit .dfiles ul.file li {
	float: left;
}
.aw-support .messageedit .dfiles ul.file a.src {
	font-size: 1.1em;
	text-decoration: none;
}

.aw-support .messageedit .dfiles .fileremove {
	margin: 4px 25px 0 3px;
}

.aw-support .messageedit .fileremove {
	cursor: pointer;
	width: 10px;
	height: 10px;
	background: url('/modules/support/images/remove.gif') left top no-repeat;
} 
.aw-support .messageedit dl.pimg .imgremove {
	margin-top: 7px;
}